/* The sidebar menu */
.navbar {
    z-index: 2;
    box-shadow: 0px 0px 10px #000;
}

.account_content,
footer {
    margin-left: 160px;
}

#account_sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

/* The navigation menu links */
#account_sidebar a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
}

#account_sidebar li:hover {
    background-color: #121820 !important
}

#account_sidebar li:first-child a {
    padding: 20px;
}

@media (max-width: 575px) {
    #account_sidebar {
        position: relative;
        width: 100%;
    }

    .account_content,
    footer {
        margin-left: 0
    }

    #account_sidebar li:first-child {
        display: none
    }
}