.thumbnail {
  position: relative;
  overflow: hidden;
}

.thumbnail>.backdrop {
  width: 110%;
  height: 110%;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -5%;
  left: -5%;
}

.thumbnail>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  height: auto;
  z-index: 5;
  position: relative;
}

.topMovie {
  position: relative;
}

.topMovie article {
  padding: 10px;
  position: absolute;
  bottom: 0;
  z-index: 8;
  transition: all 0.2s ease;
}

.topMovie article.title {
  top: 0;
  height: 0;
}

.topMovie article a,
.topMovie article span,
.mute {
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  font-weight: bold;
}

.topMovie .mute {
  right: 0;
  cursor: pointer;
}

@media (max-width: 575px) {
  .thumbnail>img {
    width: 100%;
    max-height: unset
  }

  ;
}