.stars {
    position: relative;
    color: #FFD700;
    min-width: 90px;
}

.stars>div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white
}

.ru {
    color: #02c800
}

.rpg {
    color: #fbaf00
}

.r12a,
.r12 {
    color: #ff7e0b
}

.r15 {
    color: #fb4e94
}

.r18 {
    color: #dd0303
}

.stat-bar>span {
    font-weight: bold
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.thumbnail>.backdrop {
    width: 110%;
    height: 110%;
    filter: blur(30px);
    -webkit-filter: blur(30px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -5%;
    left: -5%;
}

.thumbnail>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    height: auto;
    z-index: 5;
    position: relative;
}

@media (max-width: 575px) {
    .card {
        margin-bottom: 10px
    }

    ;

    .card:last-child {
        margin-bottom: 0px;
    }

    .thumbnail>img {
        width: 100%;
        max-height: unset
    }

    ;
}