.searchBar {
    width: 100%;
    margin: 50px 0;
}

.searchBar .form-outline {
    width: 100%;

}

.searchBar input {
    width: 100%;
    border-color: teal;
    border-radius: 8px;
    border-style: solid;
    outline: none;
    padding-left: 8px;
}

.searchBar input+label {
    position: absolute;
    left: 5px;
    top: 2px;
    pointer-events: none;
    padding: 0 2px;
    transition: all .3s;
    background-color: white;
    margin-left: 2px;
}

.searchBar .fa-search {
    color: black;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 7px;
    padding: 0 2px;
    transition: all .3s;
}

.searchBar input:focus+label,
.searchBar input:not(:placeholder-shown)+label {
    left: 25px;
    top: -8px;
    font-size: 12px;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}