.showingsCarousel .carousel-inner>a {
    color: black;
    z-index: 2;
    width: 3rem;
}

.showingsCarousel .carousel-inner>a:focus {
    opacity: 0.5;
}

.showingsCarousel .carousel-inner>a:hover {
    opacity: 0.9;
}