.showingsCarousel .carousel-inner {
  height: 400px;
}

.showingsCarousel .carousel-item,
.showingsCarousel .row {
  height: 100%;
}

.thumbnailCard {
  background-color: #2b202aaa;
  padding: 0;
  margin-right: 10px;
  flex: 0 0 calc(25% - 7.5px);
  overflow: hidden;
  height: 100%;
}

@media (max-width: 991px) {
  .showingsCarousel .carousel-inner {
    height: 800px;
  }

  .thumbnailCard {
    flex: 0 0 calc(50% - 10px);
    max-width: 50%;
    margin: 5px;
    height: calc(50% - 10px);
  }

  .thumbnailCard article>* {
    font-size: 1.25rem
  }

  .underneath a {
    font-size: 15px !important;
    font-weight: 200;
  }
}

@media (max-width: 575px) {
  .showingsCarousel .carousel-inner {
    height: 120vw;
  }

  .thumbnailCard article>* {
    font-size: .75rem
  }
}

.thumbnailCard:last-child {
  margin-right: 0;
}

.thumbnailCard article {
  padding: 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: all 0.2s ease;
  width: 100%;
}

.thumbnailCard>* {
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  font-weight: bold;
}

.thumbnailCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.4;
  transition: opacity 2s, transform 4s ease;
}

.underneath {
  background-color: #FEB66C;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  z-index: 1;
  transform: translate(0px, 70px);
  transition: all 0.2s ease-in-out;
}


.underneath a {
  font-size: 20px;
  color: #fff;
  position: relative;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  top: 5px;
}

.thumbnailCard:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.thumbnailCard:hover article {
  transform: translate(0px, -30px);
}

.thumbnailCard:hover .underneath {
  transform: translate(0px, 0px);
}

.thumbnailCard .underneath a:hover {
  color: #ddd;
}