{% extends '_base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/account.css') }}">
{% endblock %}
{% block content %}
<nav id="account_sidebar" class="bg-dark navbar-dark">
  <ul class="list-unstyled components">
    <li>
      <a href="/">Cinema 41</a>
    </li>
    <li>
      <a href="/account">My Account</a>
    </li>
    {% for page in pages.keys() %}
    {% if (session['permissions'] == pages[page][0] or (session['permissions'] >= pages[page][0] and pages[page][0] != 0)) %}
    <li><a href="/account/{{page}}">{{pages[page][1]}}</a></li>
    {% endif %}
    {% endfor %}
    <li>
      <a href="/logout">Log Out</a>
    </li>
  </ul>
</nav>

<div class="account_content">{% block account_content %}{% endblock %}</div>
{% endblock %}