<!DOCTYPE html>
<html {% block html_attribs %}lang="en" {% endblock %}>

<head>{% block head %}
  <title>{% block title %}{% if title %}{{ title }}{% else %}Cinema 41{% endif %}{% endblock %}</title>
  {% block meta %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
  {% block styles %}
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column
    }

    .content {
      flex: 1
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  {% if css %}{% for sheet in css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/'+sheet) }}">{% endfor %}{% endif %}{%
  endblock %}{% endblock %}
</head>

<body>{% block body %}
  {% block navbar %}<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/">Cinema 41</a>
    <button class="navbar-toggler ml-auto mr-1" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 ml-sm-auto" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/pricing">Ticket Prices</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link btn btn-success" href="/account">{% if session["logged_in"] %}<i
              class="fas fa-user"></i>{% else %} Login {% endif %}</a>
        </li>
        <li class="nav-item active ml-sm-2 mt-2 mt-sm-0">
          <a class="nav-link btn btn-primary" href="/search"><i class="fas fa-search"></i></a>
        </li>
      </ul>
    </div>
  </nav>{% endblock %}
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  {% if js %}{% for sheet in js %}
  <script src="{{ url_for('static',filename='js/'+sheet) }}"></script>{% endfor %}{% endif %}{% endblock %}
  {% block footer %}
  <footer class="page-footer font-small bg-light pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
          <h5 class="text-uppercase">Cinema 41</h5>
          <p style="font-size: .8rem;">Here at Cinema 41 we care about our customers by giving the very best in our
            movie selection, and offering our award winning customer service! If you want to learn more about our
            company please visit the <a href="/about">About Page</a>.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mb-md-0 mb-3">
          <h5 class="text-uppercase">Additional Links</h5>
          <ul class="list-unstyled">
            <li><a href="/about">About Cinema 41</a></li>
            <li><a href="/pricing">Ticket Prices</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            {% if session["logged_in"] %}<li><a href="/logout">Logout</a></li>{% endif %}
          </ul>
        </div>
        <div class="col-md-4 mb-md-0 mb-3">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled">
            <li>
              <i class="fas fa-phone-alt"></i> <a href="#!">+44 0123 456 789</a>
            </li>
            <li>
              <i class="fas fa-envelope"></i> <a href="mailto:enquiries@cinema41.com">enquiries@cinema41.com</a>
            </li>
            <li>
              <i class="fas fa-envelope"></i> <a href="mailto:privacy@cinema41.com">privacy@cinema41.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">Copyright © 2021 Big Cinema Inc</div>
  </footer>{% endblock %}{% endblock %}
</body>

</html>