{% extends '_base.html' %}
{% block content %}
<div class="container text-center pt-5">
    <h1>About Us</h1>
    <p>Here at Cinema 41 we care about our customers by giving the very best in our movie selection, and offering our
        award winning customer service!</p>
</div>
{% endblock %}