{% extends '_account.html' %}
{% block account_content %}
<div class="container text-center pt-5">
    <h1>My Tickets</h1>
  <div class="row">
      {% for ticket in data %}
      <div class="col-lg-4 pt-4">
        <div class="card">
            <div class="mt-4 pb-2"><span class="display-4" style="font-size: 20px;">{{ticket["name"]}}</span></div>
            <b class="pt-2">{{ticket["time"]}}</b>
            <b>{{ticket["screen"]}}</b>
            <b>{{{0:"Adult",1:"Senior",2:"Child"}[ticket["type"]]}} - Seat {{ticket["seat"]}}</b>
            <a class="btn btn-primary mx-5 my-2" href="/ticket/{{ticket["id"]}}">View Ticket</a>
        </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}