{% extends '_account.html' %}
{% block account_content %}
<div class="container pt-5">
  <h1 class="pb-2 display-4">Welcome {{session["fname"]}} {{session["sname"]}}</h1>
  <p>Username: <b>{{session["user"]}}</b><br>Email: <b>{{session["email"]}}</b></p>
  <a class="btn btn-lg btn-primary" href="/account/tickets">View my Tickets</a><br>
</div>
{% endblock %}