{% extends '_base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="display-4">{{movie["name"]}}</h1>
    <h2>{{showing["time"].strftime("%A %I:%M%p")}}<br>{{showing["time"].strftime("%d %B %Y")}}<br>{{screen["name"]}}</h2>
    <p>Your purchase was successfull! You can access your tickets below, on your account, or by email.</p>
    <div class="row mb-5">
    {% for ticket in tickets %}
    <div class="col-md-4 col-sm-6 col-lg-3 col-xl-2 mt-2">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{{0:"Adult",1:"Senior",2:"Child"}[ticket["type"]]}} Ticket</h5>
          <p class="card-text">Seat {{ticket["seat"]}}</p>
        </div>
        <img class="card-img-bottom" src="{{ticket["qr"]}}" alt="Card image cap">
      </div></div>
    {% endfor %}
</div>
<a href="/download_pdf_ticket">Download Ticket as PDF</a>
</div>
{% endblock %}