{% extends '_base.html' %}
{% block content %}
<div class="container text-center pb-sm-5 px-5" style="padding: 10em 0;">
    <h1>Contact Us</h1>
    <div class="row mx-lg-0 my-5">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header h3">I have a question</div>
                <div class="card-body">
                    <p>Please check if your question has been asked in the FAQ Section, otherwise please use our email
                        or phone number and let us answer your question.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-5 mt-lg-0">
            <div class="card">
                <div class="card-header h3">I want to talk to you</div>
                <div class="card-body">
                    <p>We are glad that you want to contact us, you can email us at anytime, or call during office hours
                        (10am - 5pm). Find our email address and phone number below:</p>
                    <ul class="list-unstyled text-left">
                        <li>
                            <i class="fas fa-phone-alt"></i> <a href="#!">+44 0123 456 789</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i> <a
                                href="mailto:enquiries@cinema41.com">enquiries@cinema41.com</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i> <a
                                href="mailto:privacy@cinema41.com">privacy@cinema41.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="py-3">
    <h1>Frequently Asked Questions</h1>
    <div class="text-left pt-5">
        <p><a class="" data-toggle="collapse" href="#q1" role="button" aria-expanded="false" aria-controls="q1">How do I
                find out how much a ticket costs?</a></p>
        <div class="collapse text-muted" id="q1">
            <p>Our ticket prices can be found on our <a href="/pricing">Pricing Page</a> located at the top of the
                website.</p>
        </div>
        <p><a class="" data-toggle="collapse" href="#q2" role="button" aria-expanded="false" aria-controls="q2">How do I
                know if my order has been processed?</a></p>
        <div class="collapse text-muted" id="q2">
            <p>Once you have completed the booking process, you will be redirected to a confirmation page where you can
                see your booking reference, this page confirms your order has been processed. You will also receive an
                email containing any tickets you have purchased.</p>
        </div>
        <p><a class="" data-toggle="collapse" href="#q3" role="button" aria-expanded="false" aria-controls="q3">How do I
                use my online tickets?</a></p>
        <div class="collapse text-muted" id="q3">
            <p>When you purchased your tickets you will have received an email containing your tickets, bring the QR
                Codes, or booking reference with you to the cinema to use the tickets.</p>
        </div>
        <p><a class="" data-toggle="collapse" href="#q4" role="button" aria-expanded="false" aria-controls="q4">I bought
                tickets but haven't received a booking confirmation</a></p>
        <div class="collapse text-muted" id="q4">
            <p>If you have not received the booking confirmation email please phone or email us so we can fix this as
                soon as possible. You may be required to provide your email and name so that we can resend the
                confirmation email.</p>
        </div>
        <p><a class="" data-toggle="collapse" href="#q5" role="button" aria-expanded="false" aria-controls="q5">How do I
                get a refund?</a></p>
        <div class="collapse text-muted" id="q5">
            <p>Tickets are not refundable or exchangeable under our terms and conditions. However, if you wish to change
                your booking due to an error please phone or email us.</p>
        </div>
    </div>
</div>
{% endblock %}