<!DOCTYPE html>
<html {% block html_attribs %}lang="en" {% endblock %}>

<head>{% block head %}
  <title>{% block title %}{% if title %}{{ title }}{% else %}Cinema 41{% endif %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock %}
  <style type="text/css">
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column
    }

    .content {
      flex: 1
    }

    .py-5 {
        padding: 3rem 0;
    }

    .pb-5 {
        padding-bottom: 3rem;
    }

    @media (min-width: 1200px) {  
        .container {
            max-width: 1140px;
        }
    } @media (min-width: 992px) {  
        .container {
            max-width: 960px;
        }
    } @media (min-width: 768px) {  
        .container {
            max-width: 720px;
        }
    } @media (min-width: 576px) {  
        .container {
            max-width: 540px;
        } 
        {% if email %}
        .col-sm-9 {
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
        } 
        .col-sm-3 {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }{% endif %}
    }
    {% if email %}
    .row{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    {% endif %}
  </style>
</head>


<body>
    <div class="container py-5">
        <h1 class="display-4">{{movie["name"]}}</h1>
        <h2>{{showing["time"].strftime("%A %I:%M%p")}}<br>{{showing["time"].strftime("%d %B %Y")}}<br>{{screen["name"]}}</h2>
        {% for ticket in tickets %}
        <div class="row pb-5 pb-sm-0">
            <div>
            <div class="col-sm-9">
                <h5>{{{0:"Adult",1:"Senior",2:"Child"}[ticket["type"]]}} Ticket</h5>
                <p>Seat {{ticket["seat"]}}</p>
            </div>
            <div class="col-sm-3">
                <img src="{% if email %}cid:img{{ticket["id"]}}{% else %}{{ticket["qr"]}}{% endif %}" alt="QR Code" width="{% if email %}100{% else %}25{% endif %}%">
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>