{% extends '_account.html' %}
{% block account_content %}
<div class="container text-center pt-5">
  <h1 class="text-left display-4">Total Income:</h1>
  <hr class="pb-5">
  <div>
    <canvas id="incomeChart"></canvas>
  </div>
  <div class="input-group searchBar">
    <div class="form-outline">
      <input type="search" id="searchBox" class="searchBox" placeholder=" ">
      <label class="form-label" for="searchBox">Add Movie</label>
    </div>
    <i class="fas fa-search"></i>
  </div>
  <div id="searchRes" class="mb-5"></div>
  <p>Prebooked tickets: £<span class="futureIncome"></span><br>Last 365 Days: £<span class="totalIncome"></span><br>Last
    30 Days: £<span class="monthIncome"></span><br>Last 7 Days: £<span class="weekIncome"></span></p>
  <button class="btn btn-primary" onclick="selectedPeriod=1;updateChart()">Month</button><button
    class="btn btn-primary ml-1" onclick="selectedPeriod=0;updateChart()">Week</button>
  <h1 class="text-left pt-5 display-4">Weekly Income:</h1>
  <hr class="pb-5">
  <div>
    <canvas id="weekChart"></canvas>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% if js %}{% for sheet in js %}
<script src="{{ url_for('static',filename='js/'+sheet) }}"></script>{% endfor %}{% endif %}
{% endblock %}