{% extends '_base.html' %}
{% block content %}
<div class="topMovie">
	<div class="thumbnail">
		<div class="backdrop"
			style="background-image: url('{% if top_movie["thumbnail"][0:4] == "http" %}{{top_movie["thumbnail"]}}{% else %}/static/thumbnails/{{top_movie["thumbnail"]}}{% endif %}')">
		</div><img
			src="{% if top_movie["thumbnail"][0:4] == "http" %}{{top_movie["thumbnail"]}}{% else %}/static/thumbnails/{{top_movie["thumbnail"]}}{% endif %}"
			alt="{{top_movie["name"]}} - Thumbnail">
	</div>
	<article class="details text-center">
		<a href="/movie/{{top_movie["id"]}}">MOVIE DETAILS</a>
	</article>
	<article class="title text-center">
		<span>{{top_movie["name"]}}</span>
	</article>
</div>
<div class="container py-md-5 py-1">
	<h3 class="display-4 mb-4">Next Showings</h3>
	{% if next_showings %}
	<div id="nextShow" class="showingsCarousel carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for showing_batch in next_showings | batch(4, '&nbsp;')  %}
			<div class="carousel-item px-5">
				<div class="row">
					{% for showing in showing_batch%}
					{% if showing !=  '&nbsp;'%}
					<div class="col-md-3 thumbnailCard">
						<div class="underneath text-center">
							<a href="/movie/{{showing["movie"]}}">MOVIE DETAILS</a>
						</div>
						<article class="title text-center">
							<h4>{{showing["name"]}}</h4>
						</article>
						<img src="{% if showing["thumbnail"][0:4] == "http" %}{{showing["thumbnail"]}}{% else %}/static/thumbnails/{{showing["thumbnail"]}}{% endif %}"
							alt="{{showing["name"]}} - Thumbnail">
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<a class="carousel-control-prev" href="#nextShow" role="button" data-slide="prev"><i
					class="fas fa-chevron-left"></i></a>
			<a class="carousel-control-next" href="#nextShow" role="button" data-slide="next"><i
					class="fas fa-chevron-right"></i></a>
		</div>
	</div>
	{% else %}
	<p class="lead">We currently dont have any showings availible...</p>
	{% endif %}
	<h3 class="display-4 my-4">Popular Showings</h3>
	{% if pop_showings %}
	<div id="popShow" class="showingsCarousel carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for showing_batch in pop_showings | batch(4, '&nbsp;')  %}
			<div class="carousel-item px-5">
				<div class="row">
					{% for showing in showing_batch%}
					{% if showing !=  '&nbsp;'%}
					<div class="col-md-3 thumbnailCard">
						<div class="underneath text-center">
							<a href="/movie/{{showing["movie"]}}">MOVIE DETAILS</a>
						</div>
						<article class="title text-center">
							<h4>{{showing["name"]}}</h4>
						</article>
						<img src="{% if showing["thumbnail"][0:4] == "http" %}{{showing["thumbnail"]}}{% else %}/static/thumbnails/{{showing["thumbnail"]}}{% endif %}"
							alt="{{showing["name"]}} - Thumbnail">
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<a class="carousel-control-prev" href="#popShow" role="button" data-slide="prev"><i
					class="fas fa-chevron-left"></i></a>
			<a class="carousel-control-next" href="#popShow" role="button" data-slide="next"><i
					class="fas fa-chevron-right"></i></a>
		</div>
	</div>
	{% else %}
	<p class="lead">We currently dont have any showings availible...</p>
	{% endif %}
	<h3 class="display-4 my-4">Top Rated Showings</h3>
	{% if top_showings %}
	<div id="topShow" class="showingsCarousel carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for showing_batch in top_showings | batch(4, '&nbsp;')  %}
			<div class="carousel-item px-5">
				<div class="row">
					{% for showing in showing_batch%}
					{% if showing !=  '&nbsp;'%}
					<div class="col-md-3 thumbnailCard">
						<div class="underneath text-center">
							<a href="/movie/{{showing["movie"]}}">MOVIE DETAILS</a>
						</div>
						<article class="title text-center">
							<h4>{{showing["name"]}}</h4>
						</article>
						<img src="{% if showing["thumbnail"][0:4] == "http" %}{{showing["thumbnail"]}}{% else %}/static/thumbnails/{{showing["thumbnail"]}}{% endif %}"
							alt="{{showing["name"]}} - Thumbnail">
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<a class="carousel-control-prev" href="#topShow" role="button" data-slide="prev"><i
					class="fas fa-chevron-left"></i></a>
			<a class="carousel-control-next" href="#topShow" role="button" data-slide="next"><i
					class="fas fa-chevron-right"></i></a>
		</div>
	</div>
	{% else %}
	<p class="lead">We currently dont have any showings availible...</p>
	{% endif %}
	<h3 class="display-4 my-4">All Movies</h3>
	{% if all %}
	<div id="allShow" class="showingsCarousel carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			{% for showing_batch in all | batch(4, '&nbsp;')  %}
			<div class="carousel-item px-5">
				<div class="row">
					{% for showing in showing_batch%}
					{% if showing !=  '&nbsp;'%}
					<div class="col-md-3 thumbnailCard">
						<div class="underneath text-center">
							<a href="/movie/{{showing["id"]}}">MOVIE DETAILS</a>
						</div>
						<article class="title text-center">
							<h4>{{showing["name"]}}</h4>
						</article>
						<img src="{% if showing["thumbnail"][0:4] == "http" %}{{showing["thumbnail"]}}{% else %}/static/thumbnails/{{showing["thumbnail"]}}{% endif %}"
							alt="{{showing["name"]}} - Thumbnail">
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}
			<a class="carousel-control-prev" href="#allShow" role="button" data-slide="prev"><i
					class="fas fa-chevron-left"></i></a>
			<a class="carousel-control-next" href="#allShow" role="button" data-slide="next"><i
					class="fas fa-chevron-right"></i></a>
		</div>
	</div>
	{% else %}
	<p class="lead">We currently dont have any movies. This is obviously an error :(</p>
	{% endif %}
	<div class="input-group searchBar">
		<div class="form-outline">
			<input type="search" id="searchBox" class="searchBox" placeholder=" ">
			<label class="form-label" for="searchBox">Search</label>
		</div>
		<a class="fas fa-search"
			onclick="window.location.href = '/search'+($('#searchBox').val()?'?q='+$('#searchBox').val():'')"></a>
	</div>
</div>
{% endblock %}