{% extends '_base.html' %}

{% block content %}
<div class="container pt-5">
<form class="mb-5" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" name="username" id="username" autocomplete="username" required>
  </div><div class="form-group">
  <label for="password">Password</label>
  <input class="form-control" type="password" name="password" id="password" autocomplete="current-password" required>
</div>
  <input class="btn btn-primary" type="submit" value="Log In">
</form>
<p class="text-danger mb-5">{% for error in errors %}{% if error != None %}<span>* {{error}}</span><br>{% endif %}{% endfor %}</p>
<a href="/register">Don't have an account? Register Here!</a>
</div>
{% endblock %}