{% extends '_base.html' %}
{% block content %}
<div class="container py-md-5 py-1">
  <div class="d-flex">
    <h1 class="display-4">{{movie["name"]}}</h1>
    <div class="text-right ml-auto">
      <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
          class="fas fa-star"></i><i class="fas fa-star"></i>
        <div style="width:{{100-(movie['rating']*10)}}%;"></div>
      </div>
    </div>
  </div>
  <p class="stat-bar"><span class="r{{movie["ageRating"]|lower}}">{{movie["ageRating"]}}</span> |
    <span>{{(movie["runtime"]/60)|round(0,'floor')|int}}h {{movie["runtime"]%60}}m</span> |
    <span>{% for genre in movie["genres"] %}<a href="/search?q={{genre['name']|lower}}">{{genre['name']}}</a>
      {% endfor %}</span> | <span><a href="/search?q={{movie["release"][-4:]}}">{{movie["release"]}}</a></span></p>
  {% if movie["trailer"] %}
  <video width="100%" controls>
    <source src="/static/trailers/{{movie["trailer"]}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  {% else %}
  <div class="thumbnail">
    <div class="backdrop"
      style="background-image: url('{% if movie["thumbnail"][0:4] == "http" %}{{movie["thumbnail"]}}{% else %}/static/thumbnails/{{movie["thumbnail"]}}{% endif %}')">
    </div><img
      src="{% if movie["thumbnail"][0:4] == "http" %}{{movie["thumbnail"]}}{% else %}/static/thumbnails/{{movie["thumbnail"]}}{% endif %}"
      alt="{{movie["name"]}} - Thumbnail">
  </div>
  {% endif %}
  <h3 class="mt-5">Showings</h2>
    {% if movie["showings"] %}
    <div id="showings" class="showingsCarousel carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for showing_batch in movie["showings"] | batch(4, '&nbsp;')  %}
        <div class="carousel-item px-5">
          <div class="row">
            {% for showing in showing_batch%}
            {% if showing !=  '&nbsp;'%}
            <div class="col-md-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">{{showing["name"]}}</h5>
                  <p class="card-text">
                    <b>{{showing["time"].strftime("%A %I:%M%p")}}</b><br>{{showing["time"].strftime("%d %B %Y")}}</p>
                  <a href="/buy/{{showing["id"]}}" class="btn btn-primary">Buy tickets</a>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#showings" role="button" data-slide="prev"><i
            class="fas fa-chevron-left"></i></a>
        <a class="carousel-control-next" href="#showings" role="button" data-slide="next"><i
            class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    {% else %}
    <p class="lead">No showings availible for {{movie["name"]}}</p>
    {% endif %}
    <h3 class="mt-5">Stats</h2>
      <p class="lead">{{movie["description"]}}</p>
      <dl class="row">
        {% for key in ["ageRating","runtime","genres","release","popularity","rating","directors","writers","lead actors"] %}
        <dt class="col-sm-3">{% if key == "ageRating" %}Age Rating{% else %}{{key|title}}{% endif %}</dt>
        <dd class="col-sm-9 {% if key == "ageRating" %}r{{movie[key]|lower}}{% endif %}">
          {% if key == "runtime" %}{{(movie[key]/60)|round(0,'floor')|int}}h
          {{movie[key]%60}}m{% elif key == "popularity" %}{{((movie[key]/max_pop)*10)|round(2)}}/10{% elif key == "rating" %}{{movie[key]|round(2)}}/10{% elif key == "release" %}<a
            href="/search?q={{movie[key][-4:]}}">{{movie[key]}}</a>{% elif key in ["directors","writers","lead actors","genres"] %}{% for genre in movie[key] %}<a
            href="/search?q={{genre['name']|lower}}">{{genre['name']}}</a>
          {% endfor %}{% else %}{{movie[key]}}{% endif %}</dd>
        {% endfor %}
      </dl>
</div>
{% endblock %}