{% extends '_base.html' %}
{% block content %}
<div class="container text-center pb-sm-5 px-5" style="padding: 10em 0;">
    <h1>Ticket Prices</h1>
    <div class="row mx-lg-0 my-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="mt-4 pb-2"><i style="font-size:128px;" class="fas fa-hiking"></i><br><br><span
                        class="display-4" style="font-size: 50px;">Senior Ticket</span></div>
                <b class="h2 py-2">£4.99</b>
                <p class="text-muted mx-2">Ticket valid for one <b>senior aged 65 years old or over</b>.</p>
            </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <div class="card">
                <div class="mt-4 pb-2"><i style="font-size:128px;" class="fas fa-biking"></i><br><br><span
                        class="display-4" style="font-size: 50px;">Adult Ticket</span></div>
                <b class="h2 py-2">£8.49</b>
                <p class="text-muted mx-2">Ticket valid for one <b>adult aged between 17 and 64 years old</b>.</p>
            </div>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
            <div class="card">
                <div class="mt-4 pb-2"><i style="font-size:128px;" class="fas fa-child"></i><br><br><span
                        class="display-4" style="font-size: 50px;">Child Ticket</span></div>
                <b class="h2 py-2">£3.99</b>
                <p class="text-muted mx-2">Ticket valid for one <b>child aged 16 years old or under</b>.</p>
            </div>
        </div>
    </div>
    <p class="text-muted text-left">&bull;Ticket may only be used one time, where the customer is only valid to view the
        selected movie stated on a ticket.<br>&bull;If we do not believe you are of the legal age to view a movie, your
        ticket may be revoked.</p>
</div>
{% endblock %}