{% extends '_base.html' %}
{% block content %}
<div class="container px-2" style="padding: 20em 0;">
    <h1>Privacy Policy</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque faucibus quis ex eu commodo. Donec et
        ultricies nulla, vitae vulputate libero. Vestibulum at neque mi. Praesent ac massa mattis, vulputate urna ut,
        efficitur nibh. Donec efficitur varius dictum. Vivamus at lacus est. Integer pellentesque in tortor nec
        accumsan. Aliquam erat volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Aliquam quis orci at nisl aliquet maximus faucibus in quam. Cras in lobortis nibh. Nulla
        quis augue eros. Proin viverra vulputate ante. Vestibulum quam est, dignissim nec interdum nec, iaculis sed
        odio.

        <br><br>Aenean iaculis est purus, id rutrum lorem euismod vitae. Vestibulum est elit, posuere sed nunc id,
        tincidunt mollis nibh. Donec faucibus leo non lacus imperdiet, et tristique nisl pharetra. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras porttitor, velit rutrum dignissim
        dignissim, quam elit sodales augue, eget varius arcu nulla sit amet dui. Integer egestas odio augue, vitae
        aliquet leo iaculis non. Nam sagittis mi eu lectus maximus, non maximus urna iaculis. Integer in mauris
        volutpat, mattis ex eu, pellentesque neque. Maecenas non ligula massa. Donec suscipit eros a purus mattis
        varius. Integer non lectus at lacus condimentum accumsan quis sit amet ligula.

        <br><br>Quisque a consectetur neque, vitae consectetur sem. Donec condimentum risus ut quam iaculis consectetur.
        Pellentesque cursus ut risus quis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Suspendisse augue ante, tempor sed libero sit amet, scelerisque eleifend diam. Praesent
        vulputate pretium pulvinar. Proin ornare, sapien elementum euismod egestas, est nisl scelerisque quam, et
        maximus nibh lectus a augue. Sed eget congue turpis, in pellentesque diam. Sed dapibus nunc ipsum, vel convallis
        dui dapibus ac. Nunc imperdiet, lacus quis pulvinar sodales, nisi nunc ornare tortor, at porta metus tellus ut
        odio. Aenean vitae erat ultrices, rutrum massa et, auctor magna. Fusce tristique commodo lectus, quis rhoncus ex
        semper et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer
        maximus enim sit amet dolor tristique, vel malesuada nibh mattis.

        <br><br>Nam at feugiat erat. Nulla consequat id eros eu accumsan. Maecenas efficitur nisl dui, non maximus purus
        rutrum ac. Praesent blandit efficitur quam, sit amet porta nisi. Etiam rhoncus diam metus, sed blandit tortor
        efficitur eu. In ut risus nisl. Sed aliquam lacinia commodo. Sed ut vehicula massa, id blandit mi. Sed mollis,
        magna vel rutrum ultricies, nisi velit bibendum sem, gravida tincidunt augue elit eget leo. Pellentesque non sem
        ut nulla rutrum tempus.

        <br><br>Sed pellentesque euismod lectus at vehicula. Aenean vitae nulla efficitur, lacinia felis a, imperdiet
        est. Suspendisse non tincidunt mi. Proin ante felis, blandit sed convallis ac, vestibulum luctus sem.
        Pellentesque rhoncus, arcu non tempus sagittis, eros neque tincidunt eros, et bibendum lorem nisi sollicitudin
        libero. Maecenas in ex at ligula aliquam blandit quis sagittis elit. Ut rutrum, ipsum et rutrum interdum, nibh
        purus porttitor neque, et pellentesque diam sapien id eros. Mauris sit amet congue dui, eget congue nisl. Nam
        pretium libero sed mi consectetur elementum.

        <br><br>Pellentesque varius enim vitae elit convallis porta. Fusce scelerisque, leo non viverra blandit, dui
        tortor porta nisi, tincidunt fermentum velit augue non eros. Curabitur pellentesque nisl non felis aliquam, et
        interdum metus posuere. Praesent at pretium urna, id sollicitudin dolor. Vestibulum et nisl varius, finibus orci
        vel, maximus arcu. Integer at erat tortor. Donec ultricies lacus orci, quis sollicitudin dolor dapibus et. Etiam
        at enim tincidunt, consequat leo ac, egestas orci. In ut laoreet arcu. Etiam metus erat, tincidunt vitae eros a,
        bibendum placerat odio. Sed egestas diam mollis molestie vulputate. Mauris ornare libero vel nulla bibendum
        varius.

        <br><br>Vivamus fringilla ac mi a tempor. Pellentesque ac ex facilisis, mollis nulla vitae, ultricies libero.
        Duis eu mauris laoreet, faucibus dolor aliquam, ultricies diam. Fusce dictum, elit eu cursus fringilla, leo nunc
        maximus massa, eget blandit ex turpis porttitor velit. Morbi vitae tellus bibendum massa eleifend pulvinar.
        Fusce id felis dui. Nunc dictum non nunc nec tincidunt. Proin pellentesque fringilla leo, et iaculis dolor
        sagittis et. Morbi ut bibendum velit, quis faucibus dolor. Integer dui sem, rhoncus a ipsum nec, mattis
        scelerisque neque. Nullam ac ultricies lacus, vel rutrum turpis. Sed dapibus ut orci ac vestibulum. Sed sed
        augue convallis, tempor turpis eu, suscipit enim. Maecenas rutrum porttitor ornare. Praesent tempor semper ante,
        ac fringilla mauris sagittis eu.

        <br><br>Sed nec aliquet tellus. Nunc consectetur mauris tortor, sed cursus magna aliquet eu. Morbi venenatis
        arcu neque, nec viverra tortor efficitur eu. Maecenas in augue felis. Morbi porta auctor tortor nec cursus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse aliquet
        lacinia mauris, eu facilisis lectus ultricies nec. Maecenas bibendum purus eu erat dignissim gravida. In metus
        lorem, aliquam porta gravida ut, sodales at justo. Vestibulum eu porttitor magna. Maecenas gravida leo in
        placerat vulputate. Proin ut orci nibh.

        <br><br>Proin porta et dui vitae fermentum. Mauris eu rhoncus odio. Etiam vehicula tellus lectus, in lobortis
        quam vulputate a. In sed leo condimentum, condimentum enim sit amet, tincidunt erat. Ut ut ante sit amet magna
        molestie porta. Mauris eget est eu lacus auctor volutpat. Sed sodales nibh vel nunc lobortis, in interdum tortor
        euismod. In eget aliquet sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae;

        <br><br>Fusce eu purus in dolor rhoncus mattis. Praesent vel massa massa. Praesent in ullamcorper orci, nec
        dapibus enim. Mauris elit urna, ultricies id magna eu, rhoncus ultrices erat. Nam dignissim porta elit quis
        fringilla. Nulla elementum odio a orci blandit, finibus varius felis accumsan. Fusce convallis ligula a diam
        ullamcorper maximus. Maecenas eu aliquet tortor. Fusce orci ante, ultricies sed turpis in, viverra elementum
        enim. Donec sagittis semper ipsum at auctor. Praesent quis nisl vitae lectus eleifend sodales. Pellentesque
        tempus orci cursus scelerisque ornare. Quisque quis ligula sed odio ullamcorper sollicitudin in nec lacus.</p>
</div>
{% endblock %}