{% extends '_base.html' %}

{% block content %}
<div class="container pt-5">
  <form class="mb-5" method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" autocomplete="username" required>
    </div><div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" autocomplete="new-password" required>
  </div><div class="form-group">
    <label for="email">Email</label>
  <input name="email" id="email" class="form-control" autocomplete="email" required>
  </div><div class="form-group">
    <label for="fname">First Name(s):</label>
  <input name="fname" id="fname" class="form-control" autocomplete="given-name" required>
  </div><div class="form-group">
    <label for="sname">Surname:</label>
    <input name="sname" id="sname" class="form-control" autocomplete="family-name" required>
  </div>
    <input class="btn btn-primary" type="submit" value="Register">
  </form>
  <p class="text-danger mb-5">{% for error in errors %}{% if error != None %}<span>* {{error}}</span><br>{% endif %}{% endfor %}</p>
  <a href="/login">Already have an account? Login Here!</a>
</div>
{% endblock %}