{% extends '_base.html' %}
{% block content %}
<div class="container">
    <div class="input-group searchBar">
        <div class="form-outline">
            <input type="search" id="searchBox" class="searchBox" placeholder=" ">
            <label class="form-label" for="searchBox">Search</label>
        </div>
        <i class="fas fa-search"></i>
    </div>
    <div id="searchRes"></div>
</div>
{% endblock %}