{% extends '_base.html' %}
{% block content %}
<div class="container">
    <h1 class="display-4">{{movie["name"]}}</h1>
    <h2>{{showing["time"].strftime("%A %I:%M%p")}}<br>{{showing["time"].strftime("%d %B %Y")}}</h2>
    <form class="text-center mb-5" action="" onsubmit="return validateForm()" method="POST">
        <hr>
        <h2>Ticket Selection</h2>
        <div class="form-group row">
            <label for="adults" class="col-sm-3 col-xl-2 col-form-label">Adults (16-64)</label>
            <div class="col-sm-9 col-xl-10">
                <input class="ticketnum form-control " type="number" id="adults" name="adults" min="0" value="1">
            </div>
        </div>
        <div class="form-group row">
            <label for="seniors" class="col-sm-3 col-xl-2 col-form-label">Seniors (<i class="fas fa-caret-up"></i>65)</label>
            <div class="col-sm-9 col-xl-10">
                <input class="ticketnum form-control" type="number" id="seniors" name="seniors" min="0" value="0">
            </div>
        </div>
        {% if movie["ageRating"] in ["PG","15"] %}
        <div class="form-group row">
            <label for="children" class="col-sm-3 col-xl-2 col-form-label">Children (<i class="fas fa-caret-down"></i>15)</label>
            <div class="col-sm-9 col-xl-10">
                <input class="ticketnum form-control" type="number" id="children" name="children" min="0" value="0">
            </div>
        </div>
        {% endif %}
        <p id="totalprice">Price: £8.49</p>
        <hr>
        <h2>Select Seats</h2>
        <ul class="list-group d-inline-flex mb-4">
            <li class="list-group-item py-1 px-5">Taken Seat: ■</li>
            <li class="list-group-item py-1">Available Seat: <input class="noclick" type="checkbox"></li>
            <li class="list-group-item py-1">Selected Seat: <input class="noclick" type="checkbox" checked></li>
        </ul>
        <p>^ Facing Screen ^</p>
        <table class="seat-grid" style="margin: 0 auto;">
            <tr>
                <td></td>
                {% for i in range(screen["seats"][0] | int) %}
                <td>{{ (i+1) | string}}</td>
                {% endfor %}
            </tr>
            {% for i in range(screen["seats"][0] | int) %}
            <tr>
                <td style="text-align: center;">{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] }}</td>
                {% for j in range(screen["seats"][1] | int) %}
                {% if "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] ~ "%02d"|format(j+1) in screen["seats"][2] %}
                <td>■</td>
                {% else %}
                <td><input class="seat" type="checkbox" name="seatcheckbox"
                        value="{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"[i] ~ "%02d"|format(j+1) }}"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <hr>
        <input class="btn btn-primary" type="submit" value="Purchase Ticket">
    </form>
    <p class="text-danger mb-5">{% for error in errors %}{% if error != None %}<span>* {{error}}</span><br>{% endif %}{% endfor %}</p>
</div>
{% endblock %}