{% extends '_base.html' %}
{% block content %}
<div class="container py-5">
    <h1 class="display-4">{{movie["name"]}}</h1>
    <h2>{{showing["time"].strftime("%A %I:%M%p")}}<br>{{showing["time"].strftime("%d %B %Y")}}<br>{{screen["name"]}}</h2>
    <hr>
    <div class="row pb-5 pb-sm-0">
        <div class="col-sm-9">
            <h5>{{{0:"Adult",1:"Senior",2:"Child"}[ticket["type"]]}} Ticket</h5>
            <p>Seat {{ticket["seat"]}}</p>
        </div>
        <div class="col-sm-3">
            <img src="{{qr}}" alt="QR Code" width="100%">
        </div>
    </div>
    <a href="/download_pdf_ticket">Download Ticket as PDF</a>
</div>
{% endblock %}